.nav-container {
  background-color: var(--bg-color);
  z-index: 100;
  width: 100vw;
  position: fixed;


}

.dropdown-login {
  display: flex;
  align-items: center;
  gap: 2rem;
}

.weather {
  padding: 0 5%;
  display: flex;
  align-items: center;
  gap: 3rem;
  border-bottom: solid 1px var(--second-bg-color);
  height: 3rem;
}

.weather span {
  color: white;
  font-weight: 600;
}

.navbar {
  display: flex;
  justify-content: space-between;
  padding: 0 5%;
  align-items: center;
  height: 7rem;
}

.navbar a .logo img {
  width: 5rem;
  height: 5rem;
  border-radius: 50%;
  cursor: pointer;
}

.navbar ul {
  display: flex;
  gap: 2rem;
}

.navbar ul li a {
  color: var(--text-color);
  font-weight: 600;
  text-transform: uppercase;
  font-size: 1.2rem;
  cursor: pointer;
  transition: 0.5s;
}

.navbar ul li a:hover {
  color: #0ef;
}

.navbar ul li a::after {
  content: '';
  display: block;
  height: 3px;
  background: transparent;
  transition: all 0.5s ease;
}

.navbar ul li a:hover::after {
  width: 100%;
  background-color: #0ef;

}

.header .logo img {
  width: 11rem;
  cursor: pointer;
}

.header .navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.sub-menu li a {
  display: flex;
  flex-direction: column;
}

.navbar li .menu {
  position: absolute;
  padding-top: 2rem;
  top: 7rem;
  display: none;
  background-color: rgb(9, 8, 31);


}

.navbar li:hover .menu,
.navbar li.over .menu {
  display: block;
}

.navbar li .menu li {

  display: block;
  padding-bottom: 1rem;
  padding-right: 1rem;
  padding-left: 1rem;


}

.navbar .menu li a {
  font-size: 1rem;
  font-family: Arial, Helvetica, sans-serif;
  transition: 1s;

}

.navbar .btn-1 {
  margin-left: 1rem;
}

.toggle-btn {
  font-size: 1.4rem;
  cursor: pointer;
  display: none;
}

/* Dropdown Meun*/
.dropdown-menu {

  position: absolute;
  right: 0;
  top: 100px;
  height: 0;
  width: 75%;
  background-color: var(--bg-color);
  /* backdrop-filter: blur(15px); */
  border-radius: 1px;
  overflow: hidden;
  transition: all 0.5s ease;
}

.dropdown-menu.open {
  height: auto;
}

.dropdown-menu li {
  padding: 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid var(--second-bg-color);
  margin: o;
  padding: 10px 0px;
}

.btn-login {
  color: white;
  font-size: 1.5rem;
  padding: 0.7rem 1.4rem;
  background-color: royalblue;
  border-radius: 1rem;
  text-align: center;
  margin-left: 3rem;
}

.dropdown-menu .btn-login {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dropdown-menu a {
  font-size: 1.5rem;
  color: white;
}

.dropdown-menu a:hover {
  color: #0ef;
}

@media (max-width: 1000px) {

  .navbar ul a,
  li .btn-login {
    display: none;
  }

  .navbar .toggle-btn {
    display: block;
  }

  .dropdown-menu {
    display: block;
  }
}

.select-currencies {
  background: var(--bg-color);
  border: none;
  color: white;
  scrollbar-color: #d4aa70 #e4e4e4;
}


.select-currencies::-webkit-scrollbar {
  width: 10px;
}

.select-currencies::-webkit-scrollbar-track {
  background-color: #e4e4e4;
  border-radius: 100px;
}

.select-currencies::-webkit-scrollbar-thumb {
  background-color: #708cd4;
  border-radius: 100px;
}