/*Administracao*/
.slide-container {
    width: 100%;
    background-color: var( --text-color);
}
.slide-container h1{
    font-size: 4rem;
    text-align: center;
    padding: 5rem;
    color: var(--text-color-dark);
}

.cardx {
    width: 30rem;
    height: 39rem;
    border-radius: 2.5rem;
    background-color: var( --text-color);
    box-shadow: 0rem 0rem 0rem #dedfe0, 0rem 0rem 1rem #dedfe0;
    margin: 2rem;
    transition: 0.5s;
}
.cardx:hover{
    transform: scale(1.001);
    background-color: #e4e0e0;
    transform: scale(1.02);
    .overlay{
        background-color: var(--bg-color);
    }
    /* .image-content,
.card-content  h2 p{
        color: white;
    } */
}

.image-content,
.card-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 1.4rem;
}

.image-content {
    position: relative;
    row-gap: 0.5rem;
    padding: 2.5rem 0;
}

.overlay {
    position: absolute;
    left: 0rem;
    top: 0rem;
    height: 100%;
    width: 100%;
    background-color: var(--second-bg-color);
    border-radius: 2.5rem 2.5rem 2.5rem 2.5rem;
    transition: 0.5s;
}



.card-image {
    position: relative;
    height: 8rem;
    width: 8rem;
    border-radius: 50%;
    background: var( --text-color);
    padding: 0.2rem;
}

.card-image .card-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 50%;
    border: 0.3rem solid var(--second-bg-color);
}

.name {
    font-size: 1.5rem;
    font-weight: 600;
    color: #333;
}

.description {
    font-size: 1.3rem;
    color: #707070;
    text-align: justify;
}

.description-1 {
    font-size: 1.3rem;
    color: #707070;
    text-align: center;
    font-weight: bolder;
    padding: 1rem 0rem;
}

.button {
    border: none;
    font-size: 1.3rem;
    color: var( --text-color);
    padding: 0.7rem 1.4rem;
    background-color: var(--second-bg-color);
    border-radius: 0.6rem;
    margin: 1.4rem;
    border: 0.2rem solid var(--second-bg-color);
}

.button:hover {
    background-color: transparent;
    border: 0.2rem solid var(--second-bg-color);
    color: var(--second-bg-color);
}


element.style {
    padding: 0px;
    width: 200px;
}

@media (max-width: 430px){
    .slide-container h1{
        font-size: 3rem;
        
    }
}