.home {
    padding: 15rem 5% 2rem;
    
    background-image: url(/src/components/img/enpct.png);
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.home::after{
    content: "";
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

span {
    color: var(--components-color);
}

.home h1 {
    font-size: 4rem;
    margin-bottom: 2rem;
    text-transform: uppercase;
    color:  var( --text-color);
   
}

.home h3 {
    font-size: 2.5rem;
    margin-bottom: 4rem;
    color:  var( --text-color);
}

.btn {
    font-size: 1.2rem;
    margin-bottom: 6rem;
}

.btn-1 {
    padding: 1rem 2rem;
    background: var(--components-color);
    color: white;
    margin-right: 2rem;
    border-radius: 1rem;
    border-left: 0.2rem solid var(--components-color);
    border-bottom: 0.2rem solid var(--components-color);
}

.btn-1:hover {
    padding: 1rem 2rem;
    border: 0.2rem solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
    margin-right: 2rem;
}

.btn-2 {
    padding: 1rem 2rem;
    border: 0.2rem solid var(--text-color);
    color: var(--text-color);
    border-radius: 1rem;
}

.btn-2:hover {
    background: var(--second-bg-color);
    color: var(--text-color);
    border: 0.2rem solid var(--second-bg-color);
}

.card-contair {
    display: flex;
    justify-content: space-between;
    justify-content: center;
    flex-wrap: wrap;
}

.card-contair .card {
    background:  #1f242de3;
    /*backdrop-filter: blur(1rem); */
    width: 27rem;
    height: 27rem;
    margin: 2rem;
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* color: var(--text-color); */
    border-radius: 1rem;
    transition: 0.5s;
}

.card-contair .card:hover {
    border-color: #0ef;
    box-shadow: 0rem 0rem 1rem 0.1rem #0ef,
    0rem 0rem 0.1rem 0.1rem #0ef;
    transform: scale(1.02);

}

.card-contair .card .icon {
    color: #0ef;
    font-size: 4rem;
}

.card-contair .card h5 {
    font-size: 2rem;
    margin-bottom: 0.5rem;
    color: #dfdede;
    text-transform: capitalize;
}

.card-contair .card p {
    color: #dfdede;
    font-size: 1.2rem;
    margin-bottom: 1rem;
}

.card .docs {
    font-size: 1.1rem;
    background-color: #ff4268;
    color: var(--text-color);
    padding: 0.3rem 1.5rem;
    border-radius: 0.5rem;
    text-decoration: none;
    border: 0.1rem solid #ff4268;
    border-left: 0.2rem solid #ff738e;
    border-bottom: 0.2rem solid #ff738e;
    display: block;
    align-items: center;
    flex-direction: column;
    margin-bottom: 1rem;
}

.btn-3 {
    padding: 1rem 2rem;
    border: 0.2rem solid var(--second-bg-color);
    color: var(--text-color);
    border-radius: 1rem;
    background-color: var(--second-bg-color);
    font-weight: bold;
}

.btn-3:hover {
    padding: 1rem 2rem;
    border: 0.2rem solid var(--text-color);
    background-color: transparent;
    color: var(--text-color);
}

/*Responsividade*/

@media (max-width: 1000px){
   .home h1{
    font-size: 3rem;
   }
}


@keyframes typingEffectAnimation {
    from {
        width: 0;
    }
    to {
        width: 100%;
    }
}